@model BlogProject.Models.Blog

@{
    ViewData["Title"] = "Detail";
}

<h1>My Blog Detail View</h1>

<section id="spartanprojects">
    <div id="projects">


        <article>
            <a href="/Blog/Detail/@Model.BlogId">
                <img src="~/img/@Model.Title" alt="@Model.Title">
                <h3>@Model.Title</h3>
                <p>
                    @Model.Author
                </p>
                <p>
                    @Model.PublishDate
                </p>
                <p>
                    @Model.Content
                </p>
                <p>
                    @Model.Category
                </p>
                <p>
                    @Model.Tags
                </p>

                <a href="/Blog/Update/@Model.BlogId">Edit</a>
                </a>
</article>


    </div>

</section>
