
@model IEnumerable<BlogProject.Models.Blog>

<h1>My Lists of Blogs</h1>

<section id="spartanprojects">
    <div id="projects">

        @foreach (var blog in Model)
        {
            <article>
                <a href="/Blog/Detail/@blog.BlogId">

                    <h3>@blog.Title</h3>
                    <p>
                        @blog.Author
                    </p>
                    <p>
                        @blog.PublishDate
                    </p>
                    <p>
                        @blog.Content
                    </p>
                </a>
                    <a href="/Category/Index">
                        @blog.Category.CategoryName
                    </a>
                    <a href="/Tag/Index">
                        @blog.Tag.TagName
                        </a>

                   
</article>
        }

    </div>

</section>
