
@model IEnumerable<BlogProject.Models.Blog>

<h1>My Lists of Views</h1>

<section id="spartanprojects">
    <div id="projects">

        @foreach (var blog in Model)
        {
            <article>
                <a href="/Product/Detail/@blog.Id">
                    <img src="~/img/@blog.Title" alt="@blog.Title">
                    <h3>@blog.Title</h3>
                    <p>
                        @blog.Author
                    </p>
                    <p>
                        @blog.PublishDate
                    </p>
                    <p>
                        @blog.Content
                    </p>
                    <p>
                        @blog.Category
                    </p>
                    <p>
                        @blog.Tags
                    </p>
                </a>
            </article>
        }

    </div>

</section>
