@model BlogProject.Models.Blog
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers



    <h4>Update Blog</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BlogId)
                    <input type="hidden" asp-for="BlogId" class="form-control" />
                    <span asp-validation-for="BlogId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Title)
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Content)
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Author)
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PublishDate)
                    <input asp-for="PublishDate" class="form-control" />
                    <span asp-validation-for="PublishDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

